<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.llb.mapper.TeacherMapper">
    <!--通过姓名查找教练-->
    <select id="findTeacher" resultType="com.llb.entity.Teacher" parameterType="String">
        SELECT *
        FROM teacher
        WHERE tea_account = #{account} OR tea_email = #{account}
    </select>

    <!--通过姓名查找教练-->
    <select id="findTeacher" resultType="com.llb.entity.Teacher" parameterType="String">
        SELECT *
        FROM teacher
        WHERE tea_account = #{account} OR tea_email = #{email}
    </select>

    <!--通过姓名查找教练-->
    <select id="findTeaByAccAndPwd" resultType="com.llb.entity.Teacher" parameterType="String">
        SELECT *
        FROM teacher
        WHERE tea_account = #{account} AND tea_email = #{email}
    </select>

    <!--通过邮箱查找教练-->
    <select id="findTeacherByEmail" resultType="Teacher" parameterType="String">
        SELECT *
        FROM teacher
        WHERE tea_email = #{teaEmail}
    </select>

    <!--修改密码-->
    <update id="updateTeaPwd" parameterType="String">
        UPDATE teacher
        SET tea_pwd = #{teacherPwd}
        WHERE tea_email = #{teaEmail}
    </update>

    <!--保存教练信息-->
    <insert id="saveTeacher" parameterType="Admin">
        INSERT INTO teacher
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="teaId != null">
                tea_id,
            </if>
            <if test="teaAccount != null">
                tea_account,
            </if>
            <if test="teaName != null">
                tea_name,
            </if>
            <if test="teaEmail != null">
                tea_email,
            </if>
            <if test="teaPwd != null">
                tea_pwd,
            </if>
            <if test="teaSex != null">
                tea_sex,
            </if>
            <if test="teaAge != null">
                tea_age,
            </if>
            <if test="teaAddress != null">
                tea_address,
            </if>
            <if test="teaPhone != null">
                tea_phone,
            </if>
            <if test="teaCreatedate != null">
                tea_createdate,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="teaId != null">
                #{teaId},
            </if>
            <if test="teaAccount != null">
                #{teaAccount},
            </if>
            <if test="teaName != null">
                #{teaName},
            </if>
            <if test="teaEmail != null">
                #{teaEmail},
            </if>
            <if test="teaPwd != null">
                #{teaPwd},
            </if>
            <if test="teaSex != null">
                #{teaSex},
            </if>
            <if test="teaAge != null">
                #{teaAge},
            </if>
            <if test="teaAddress != null">
                #{teaAddress},
            </if>
            <if test="teaPhone != null">
                #{teaPhone},
            </if>
            <if test="teaCreatedate != null">
                #{teaCreatedate},
            </if>
        </trim>
    </insert>
</mapper>
