<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.llb.mapper.TeacherMapper">
    <!--通过姓名查找教练-->
    <select id="findTeacherById" resultType="com.llb.entity.Teacher" parameterType="String">
        SELECT *
        FROM teacher
        WHERE tea_id = #{teaId}
    </select>

    <!--通过邮箱查找教练-->
    <select id="findTeacherByEmail" resultType="Teacher" parameterType="String">
        SELECT *
        FROM teacher
        WHERE tea_email = #{teaEmail}
    </select>

    <!--修改密码-->
    <update id="updateTeaPwd" parameterType="String">
        UPDATE teacher
        SET tea_pwd = #{teacherPwd}
        WHERE tea_email = #{teaEmail}
    </update>
</mapper>
